<h1>많이놀라셨죠????</h1>
<h3>여러분에게 악성코드 경각심을 심어주기위한 가짜 페이지 였습니다.</h3>
돈송금대신 아리 설명을 잘 읽어주세요!
<br>
<br>
<h2>랜섬웨어 란??</h2> <br> ‘몸값’(Ransom)과 ‘소프트웨어’(Software)의 합성어다. 시스템을 잠그거나 데이터를 암호화해 사용할 수 없도록 만든 뒤, 이를 인질로 금전을 요구하는 악성 프로그램을 일컫는다.
<br>

랜섬웨어는 2005년부터 본격적으로 알려지기 시작해, 2013년 들어 전 세계적으로 급증하고 있다. 랜섬웨어 공격을 받은 공공기관, 기업, 개인 PC 등이 매년 늘어나는 추세다.
<br>
이스트소프트가 발표한 ‘2016년 랜섬웨어 동향 결산’에 따르면, 지난 2016년 1월부터 12월까지 ‘알약’을 통해 사전 차단된 랜섬웨어 공격은 총 397만 4,658건으로 나타났다. 랜섬웨어 공격은 해마다 과격해지고 위험해지면서 보안 위협도 덩달아 높아졌다.

<br><br>
<h2>감염시 해야할일</h2>
<br>
1. 랜섬웨어 감염 시 외장하드나 공유폴더도 함께 암호화되므로 신속히 연결 차단.
<br>
2. 인터넷선과 PC 전원 차단.
<br>
3. 증거 보존 상태에서 신속하게 경찰에 신고.
<br>
4. 증거조사 후 하드 디스크는 분리해 믿을 수 있는 전문 보안업체를 통해 치료 요청.
<br>
5. 감염된 PC는 포맷 후 백신 등 주요 프로그램 최신버전 설치 후 사용.
<br>
6. 평소 해킹 상담, 피해 신고, 원격 점검 등은 한국인터넷진흥원 인터넷침해대응센터(http://www.krcert.or.kr, 전화 118)에서 서비스 제공.
<br>
7. 무엇보다 평소 예방이 필수!(백업 생활화, 백신프로그램 이용하기)
